{% extends 'music/base.html' %}
{% block body %}
    {% if all_albums %}
         <ul>
            {% for album in all_albums %}
            <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'music:detail' album.id %}">
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ album.album_title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'music:delete_album' album.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            <!--</form>-->

                            <!-- Favorite Album -->
                            <!---->

                        </div>
                    </div>
                </div>

            {% endfor %}
        </ul>
    {% else %}
        <h3>No Albums Available</h3>
    {% endif %}
{% endblock %}
